<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
      <%= link_to 'Handshare', root_path, class:'my-0 mr-md-auto font-weight-normal btn btn-outline-secondary btn-lg' %>
    <nav class="my-2 my-md-0 mr-md-3">
      <% if user_signed_in? %>
        こんにちは <%=current_user.nickname %>さん
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'ml-2 p-2 text-primary btn btn-outline-primary' %>
        <%= link_to '新規投稿', new_report_path, class:'ml-2 p-2 text-primary btn btn-outline-primary' %>
      <% else %>
        <%= link_to 'ユーザー登録', new_user_registration_path, class:'ml-2 p-2 text-primary btn btn-outline-primary' %>
        <%= link_to 'ログイン', new_user_session_path, class:'ml-2 p-2 text-primary btn btn-outline-primary ' %>
      <% end %>
    </nav>
  </div>  
</header>